
@media screen and (min-height: 900px) {
    .options-container {
        justify-content: center;
    }
}

@media screen and (max-width: 1120px) {
    .grid-list {
        padding: 0 60px;
    }

    .card-wrapper {
        width: 33.333333%;
        padding: 24px 24px 0;
    }
}

@media screen and (max-width: 960px) {

    .burger {
        display: block;
    }

    .scroll-bar {
        display: none !important;
    }

    .benefits-text {
        padding: 30px 25px 0;
        font-size: 20px;
        line-height: 1.4;
    }

    .benefits-table {
        padding: 0 5%;
    }

    .how-title {
        background-image: radial-gradient(#58585a 60%, transparent 70%);
    }

    .how-table {
        width: 750px;
    }

    .how-table-title {
        font-size: 18px;
    }

    .how-table-text {
        max-width: 250px
    }

    .how-flex-item {
        padding-left: 0;
        padding-right: 0;
    }

    .partners-title {
        font-size: 38px;
    }

    .partners-text {
        font-size: 22px;
        max-width: 585px;
    }

    .partners-container .active {
        margin: auto;
        width: 640px;
    }

    .partner-icon {
        border-radius: 15px;
    }

    .hover-discount {
        display: none;
    }

    .strip-discount-text {
        display: block;
    }

    .partner-icon-wrapper {
        width: 33.333333%;
    }

    .grid-list {
        padding: 0;
    }

    .partner-card:hover {
        box-shadow: none;
    }

    .item-img {
        width: 25%;
    }

    .contacts-info {
        padding: 60px 10%;
    }
}

@media screen and (max-width: 900px) {
    .categories-container {
        height: auto;
        display: block;
        float: left;
        border-bottom: none;
    }

    .category-card {
        border-bottom: 1px solid #e8e8e8;
    }

    .category-background {
        float: left;
        width: 33.333333%;
    }
}

@media screen and (max-width: 840px) {
    .grid-list {
        padding: 0 40px;
    }

    .card-wrapper {
        width: 50%;
        padding: 24px 24px 0;
    }
}

@media screen and (max-width: 768px) {
    #about {
        background-image: radial-gradient(#58585a 60%, rgba(0,0,0,0) 70%);
    }

    #benefits {
        padding-bottom: 20px;
    }

    .benefits-table {
        flex-direction: column;
        padding: 0 25px;
    }

    .benefits-table-item {
        margin: 0 0 32px;
    }

    #benefit-1-mobile {
        display: flex;
    }

    #benefit-1-desktop {
        display: none;
    }

    .partners-row {
        width: 88%;
        float: left;
        margin: 0 6%;
    }

    .partner-icon-wrapper {
        height: 150px;
    }

    .partner-icon {
        width: 150px;
    }
}

@media screen and (max-width: 750px) {

    /* Place the timelime to the left */
    .how-timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .how-timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        margin-bottom: 20px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .how-timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 11px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0;
    }

    .how-table-title {
        font-size: 24px;
        margin-top: 10px;
    }

    .how-table-text {
        max-width: 480px;
        font-size: 18px;
        margin-top: 12px;
    }

    .contacts-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .contacts {
        width: 100%;
        height:50%;
        padding: 20px 35px;
    }

    .contacts-info {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .contacts-title {
        font-size: 26px;
        padding-bottom: 24px;
    }

    .contacts-data {
        font-size: 22px;
    }

    .contacts-address {
        padding: 12px 0 12px 0;
    }

    .contacts-social {
        padding-top: 10px;
    }

}

@media screen and (max-width: 640px) {

    .title {
        font-size: 64px;
        margin: 0.2em 0;
    }

    .description {
        max-width: 550px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 32px;
        box-sizing: border-box;
    }

    .about-subtitle {
        font-size: 12px;
    }

    .about-title {
        font-size: 48px;
    }

    #benefits {
        height: auto;
    }

    .benefits-content {
        padding: 80px 40px;
    }

    .benefits-content p {
        max-width: 375px;
    }

    .benefits-content .title-md {
        font-size: 38px;
        line-height: 1;
    }

    .benefits-text {
        font-size: 18px;
        line-height: 1.25;
        padding: 25px 10px 0;
    }

    .how-timeline{
        height: 1152px;
    }

    .how-table {
        width: 100%;
        padding-left: 50px;
    }

    .how-table-item {
        padding: 0 0 20px 50px;
    }

    .how-table-title {
        font-size: 18px;
    }

    .how-table-text {
        max-width: 100%;
        font-size: 12px;
        line-height: 1.45;
    }

    .how-table-item p {
        max-width: 350px;
        text-align: left;
    }

    .how-flex-item {
        align-items: baseline;
        width: 90%;
    }

    .wrapper-line {
        margin: 0;
    }

    .wrapper-circle {
        margin: 0;
        top: 95px;
        left: -14px;
    }

    .flex-end {
        align-items: flex-start;
    }

    .height-half {
        height: 59% !important;
    }

    .bottom-half {
        bottom: 54% !important;
    }

    #options {
        height: auto;
    }

    .options-content {
        margin: 0 20px;
    }

    .options-text {
        font-size: 20px;
        line-height: 1.4;
        padding-top: 20px;
    }


    .price {
        flex-direction: column;
        align-items: center;
    }

    .options-cost {
        font-size: 24px;
    }

    .options-price-text {
        font-size: 18px;
        line-height: 1.25;
    }

    .overlay {
        overflow: auto;
        width: 100%;
    }

    .close-button {
        position: fixed;
        top: 15px;
        right: 15px;
    }

    .form-container {
        overflow: scroll;
        width: 100%;
        max-height: none;
        max-width: none;
        margin: 0;
        border-radius: 0;
    }

    .form-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-content {
        padding: 25px 50px 25px;
    }

    .form-content p:first-child {
        font-size: 36px;
        line-height: 42px;
    }

    input {
        width: 85%;
    }

    .check-box-container {
        width: 85%;
    }

    .contacts {
        padding: 20px 0 0 20px;
        background: #58585a;
    }

    .contacts-info {
        padding: 20px 10%;
    }

    .contacts-title {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .contacts-data {
        font-size: 18px;
    }

    .contacts-address {
        padding: 15px 0 15px 0;
        font-size: 14px;
        line-height: 1.5;
        max-width: 300px;
    }

    .partners-content {
        padding: 40px 30px 25px 30px;
    }

    .partners-title {
        font-size: 30px;
    }

    .partners-text {
        font-size: 20px;
        line-height: 1.4;
    }

    .partners-container .active {
        margin: auto;
        max-width: 440px;
    }

    .grid-list {
        padding: 0;
    }

    .partner-icon-wrapper {
        width: 50%;
        margin-top: 20px;
    }

    .item-img {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .categories-container {
        height: auto;
        display: block;
        float: left;
        border-bottom: none;
    }

    .category-card {
        max-width: none;
    }

    .category-background {
        width: 50%;
    }

    .results-wrapper {
        padding: 0;
        float: left;
    }

    .results-container {
        border: none;
        border-radius: 0;
        padding: 10px 5px;
        margin: 0;
    }
}

@media screen and (max-width: 560px) {
    .grid-list {

    }

    .card-wrapper {
        width: 100%;
        padding: 24px 24px 0;
    }
}

@media screen and (max-width: 535px) {
    .benefits-content {
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .partner-icon-wrapper {
        height: 150px;
    }

    .partner-icon {
        width: 150px;
    }

    .partners-row {
        width: 100%;
        float: left;
        padding: 0 10px;
        margin: 0;
    }
}

@media screen and (max-width: 440px) {
    .title {
        font-size: 48px;
    }

    .description {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1;
        box-sizing: border-box;
    }

    .home-container {
        background: linear-gradient(to bottom, transparent 25%, #58585a 35%, #58585a 65%, transparent 75%);
    }

    .home-content {
        padding: 0 20px;
    }

    #about {
        background: linear-gradient(to bottom, transparent 10%, #58585a 30%, #58585a 70%, transparent 90%);
    }

    .about-title {
        font-size: 38px;
        padding-bottom: 20px;
    }

    .about-text {
        line-height: 1.4;
    }

    .benefits-content {
        padding: 40px 20px;
        background: linear-gradient(to bottom, transparent, #58585a 20%, #58585a 80%, transparent);
    }

    .benefits-content .title-md {
        line-height: 1;
    }

    .benefits-text {
        padding: 15px 10px 0;
    }

    .benefits-title {
        font-size: 48px;
    }

    .benefits-table-text {
        margin-top: 8px;
        font-size: 18px;
        line-height: 1.4;
    }

    .how-timeline{
        height: 1202px;
    }

    .how-timeline-image-container {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .card-wrapper {
        padding: 10px;
    }

    .card-left {
        max-width: 100px;
    }

    .partner-icon-wrapper {
        height: 120px;
    }

    .partner-icon {
        width: 120px;
    }

    .partners-text {
        font-size: 16px;
        line-height: 1.4;
    }

    .partners-content {
        padding: 40px 30px 20px 30px;
    }

    .partners-container .active {
        margin: auto;
        width: 300px
    }

    .contacts-info {
        padding: 20px;
    }

    .contacts-info .text-md {
        font-size: 18px;
    }
}

@media screen and (max-width: 359px) {
    .about-text {
        font-size: 18px;
    }

    .description {
        font-size: 24px;
    }
}