@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url(../img/home/background-3-01.png) repeat-y fixed;
    background-size: 100%;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
}

h1 {
    text-align: center;
}

.title-md {
    color: #fff;
    font-family: "Roboto-Bold";
    font-weight: 600;
    font-size: 46px;
}

.title-sm {
    font-family: "Roboto-Bold";
    font-weight: 600;
    font-size: 24px;
}

.text-md {
    font-family: 'Roboto-Regular';
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.text-sm {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}

/* w3-override*/

.w3-row {
    width: 100%;
}

.cntr {
    width: 80%;
    max-width: 960px;
    margin: 100px auto 0;
}

.crd {
    width: 100%;
    margin: 55px 0;
    background-color: #f3f3f3;
}

.crd h1 {
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    padding: 20px;
    margin: 0;
}

.half {
    float: left;
    width: 100%;
}

.third {
    float: left;
    width: 100%;
}

/* === NAVBAR === */

.topnav {
    overflow: hidden;
    background-color: #B3D234;
    position: fixed;
    top: -55px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: top 0.2s;
    z-index: 10;
}

.topnav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#menu-header {
    display: none;
}

#menu-header:hover {
    background-color: transparent;
    color: #fff;
}

.topnav a:hover {
    background-color: #fff;
    color: #000;
}

.topnav .icon {
    display: none;
}

/* === BLOCK #1 === */

.bl-01 {
    width: 100%;
    height: 100%;
}

.home-container {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-content {
    padding: 0 20px 85px 20px;
}

.logo {
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
    display: -ms-flex;
    -ms-justify-content: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.responsive-logo {
    max-height: 150px;
}

.description {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.arrow-container {
    position: absolute;
    bottom: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow {
    width: 50px;
    height: 50px;
    background: url(../img/home/Strelka.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* === BLOCK #2 === */

.cntr-02 {
    padding: 10px 15px;
    margin: 5%;
}

.icn-02 {
    display: flex;
    justify-content: center;
}

.icn-02 img{
    height: 150px;
}

.txt-cntr-02, .txt-cntr-03 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h-02, .h-03 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 18px;
    line-height: 1.35;
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #000;
}

.txt-02 {
    text-align: center;
    color: #000;
}

/* === BLOCK #3 === */

.cntr-03 {
    padding: 10px 15px;
    margin: 5%;
}

.icn-03 {
    display: flex;
    justify-content: center;
}

.icn-03 img{
    height: 150px;
}

.txt-03 {
    text-align: center;
    color: #000;
}

/* === BLOCK #4 === */

.bl-04 {
    min-height: 480px;
    height: 150%;
}

.h-04 {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-04 h1 {
    margin: 0;
    line-height: 1.35;
    font-size: 22px;
    font-family: 'Roboto-Regular';
    font-weight: 600;
    color: #000;
}

.cntr-04 {
    height: 90%;
}

.tp-cntr-04 {
    height: 18%;
    padding: 1% 0;
    display: flex;
    justify-content: center;
}

.md-cntr-04 {
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.responsive-image {
    height: 100%;
}

.bt-cntr-04 {
    height: 18%;
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
}

.tip-04 {
    padding: 10px 15px;
    width: 45%;
    max-width: 360px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* === BLOCK #6 === */

.h-06 {
    display: flex;
    justify-content: center;
    margin: 40px 10px 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 25px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.cntr-06 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.cntr-06::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #B3D234;
    top: 19px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left-06 {
    left: 0;
}

/* Place the container to the right */
.right-06 {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-06::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-06::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-06::after {
    left: -13px;
}

/* The actual content */
.cnt-06 {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.img-cntr-06 {
    display: flex;
    justify-content: center;
}

.cnt-06 img {
    height: 150px;
}

/* === BLOCK #7 === */

.bl-07 {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.h-07 {
    text-align: center;
}

.cntnt-07 {
    text-align: center;
}

/*
========================
==========MEDIA=========
========================
*/

@media screen and (min-width: 961px) {
    .third {
        width: 33.333333%;
    }
}

@media screen and (max-width: 960px) {
    .cntr {
        width: 90%;
    }

    .cntr-03 {
        padding: 10px 15px;
        margin: 25px 5%;
    }
}

@media screen and (min-width: 769px) {
    .half {
        width: 49.999999%;
    }
}

@media screen and (max-width: 768px) {
    #menu-header {
        display: block;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        position: absolute;
        right: 0;
        display: block;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: center;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 641px) {
}

@media screen and (max-width: 640px) {
    .logo {
        flex-direction: column;
        align-items: center;
    }

    .responsive-logo {
        max-width: 423px;
        width: 100%;
        height: auto;
    }

    .crd h1 {
        padding-top: 75px;
    }

    .crd {
        margin: 0;
    }

    .cntr {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .cntr-02, .cntr-03 {
        padding: 10px 10px;
        margin: 5% 10%;
    }

    .bl-04 {
        height: 100%;
    }

    .h-04 {
        height: 20%;
    }

    .cntr-04 {
        height: 80%;
    }

    .tp-cntr-04, .bt-cntr-04 {
        display: none;
    }

    .md-cntr-04 {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .responsive-image {
        width: 90%;
        height: auto;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .cntr-06 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .cntr-06::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left-06::after, .right-06::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right-06 {
        left: 0;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 480px) {
    .title-md {
        font-size: 32px;
        margin: 30px 0 10px;
    }

    .title-sm {
        font-size: 18px;
    }

    .text-md {
        font-size: 18px;
        line-height: 1.2;
    }

    .text-sm {
        line-height: 1.5;
    }

    .crd h1 {
        font-size: 40px;
    }

    .cntr-02, .cntr-03 {
        padding: 10px 0;
        margin: 5%;
    }

    .bl-07 {
        padding: 60px 10px 10px;
    }
}