* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'futuraroundbold';
    src: url('../fonts/AFuturaRoundBold.ttf');
}

@font-face {
    font-family: 'futurarounddemi';
    src: url('../fonts/AFuturaRoundDemi.ttf');
}

@font-face {
    font-family: 'futuraround';
    src: url('../fonts/AFuturaRound.ttf');
}

body {
    height: 100%;
    font-family: futuraround;
}

html {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none
}

.grid-list::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
}

.grid-list::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
}

.grid-list::-webkit-scrollbar-thumb {
    background: #B3D234;
    border-radius: 4px;
}

body.modal-open {
    overflow: visible;
}

.main-container a, .main-container a:hover, .main-container a:focus {
    text-decoration: none;
    color: #B3D234;
}

p {
    margin: 0;
    color: #fff;
}

.main-container sup {
    font-size: 50%;
    top: -0.8em;
}

.title-lr {
    font-family: futuraroundbold;
    font-weight: 600;
    font-size: 80px;
}

.title-md {
    font-family: futuraroundbold;
    font-weight: 600;
    font-size: 46px;
}

.title-sm {
    font-family: futurarounddemi;
    font-weight: 600;
    font-size: 24px;
}

.text-md {
    font-family: futurarounddemi;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.text-sm {
    font-family: futuraround;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

.nav {
    display: none;
}

.main-container {
    height: 100%;
    width: 100%;
}

.section {
    min-height: 100%;
}

.block {
    width: 100%;
    height: 100%;
    float: left;
}

/* home */

.home-container {
    height: 100%;
    /*background-image: radial-gradient(#58585a 50%, transparent 60%);
    background-image: -webkit-radial-gradient(#58585a 40%, transparent 50%);
    background-image: -moz-radial-gradient(#58585a 40%, transparent 50%);
    background-image: -ms-radial-gradient(#58585a 40%, transparent 50%);*/
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-content {
    padding: 0 20px 65px 20px;
}

#logo, #motto, #arrow {
    opacity: 0;
}

.logo {
    width: 80%;
    max-width: 423px;
    margin: 30px auto;
    background-color: rgba(88, 88, 90, 0.8);
    box-shadow: 0 0 30px 10px rgba(88, 88, 90, 0.8);
}

.responsive-logo {
    height: auto;
    width: 100%;
}

.title {
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
    display: -ms-flex;
    -ms-justify-content: center;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0.5em 0;
}

.description-container {
    margin-top: 40px;
    display: flex;
}

.description {
    text-align: center;
    font-size: 32px;
    margin: auto;
    color: #fff;
    background-color: rgba(88, 88, 90, 0.8);
    box-shadow: 0 0 30px 10px rgba(88, 88, 90, 0.8);
}

.description-transparent {
    text-align: center;
    font-size: 32px;
    margin: auto;
    color: transparent;
}

.arrow-container {
    position: absolute;
    bottom: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow {
    color: #fff;
    cursor: pointer;
    margin: auto;
}

/*about*/

#about {
    /*background-image: radial-gradient(#58585a 50%, transparent 60%);
    background-image: -webkit-radial-gradient(#58585a 50%, transparent 60%);
    background-image: -moz-radial-gradient(#58585a 50%, transparent 60%);
    background-image: -ms-radial-gradient(#58585a 50%, transparent 60%);*/
}

.about-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: -webkit-flex;

    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-container p {
    max-width: 640px;
    color: #fff;
    background-color: rgba(88, 88, 90, 0.8);
    box-shadow: 0 0 30px 10px rgba(88, 88, 90, 0.8);
}

.about-subtitle {
    font-family: futuraroundbold;
    padding-bottom: 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
}

.about-title {
    margin-bottom: 40px;
    line-height: 1;
    text-align: center;
}

.about-text {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
}

/* benefits */

#benefits {
    min-height: 100%;
    height: auto;
    padding-bottom: 80px;
}

#benefit-1-mobile {
    display: none;
}

.benefits-container {
    height: 100%;
    display: -webkit-flex;

    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.benefits-content {
    /*background-image: radial-gradient(#58585a 60%, transparent 70%);
    background-image: -webkit-radial-gradient(#58585a 60%, transparent 70%);
    background-image: -moz-radial-gradient(#58585a 60%, transparent 70%);
    background-image: -ms-radial-gradient(#58585a 60%, transparent 70%);*/
    padding: 60px 0;
}

.benefits-content p {
    max-width: 640px;
    text-align: center;
    margin: auto;
    color: #fff;
}

.benefits-text {
    padding-top: 26px;
}

.benefits-title {
    font-size: 60px;
    line-height: 1;
    background-color: rgba(88, 88, 90, 0.8);
    box-shadow: 0 0 30px 10px rgba(88, 88, 90, 0.8);
}

.benefits-table {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benefits-table p {
    color: black;
}

.benefits-table-item {
    padding: 20px;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.benefits-table-item:last-child {
    margin-right: 0;
}

.benefits-table-item p {
    text-align: center;
}

.benefits-table img {
    width: 150px;
    height: 150px;
}

.benefits-table-title {
    margin: 10px 0 0;
}

.benefits-table-text {
    max-width: 360px;
    margin: 5px 0 0;
    font-size: 16px;
    line-height: 1.5;
}

.notice {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

/* how it works */

#howitworks {
    height: auto;
}

.how-container {

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.how-title {
    padding: 20px 80px;
    background-image: radial-gradient(#58585a 70%, transparent 80%);
    background-image: -webkit-radial-gradient(#58585a 70%, transparent 80%);
    background-image: -moz-radial-gradient(#58585a 70%, transparent 80%);
    background-image: -ms-radial-gradient(#58585a 70%, transparent 80%);
}

/* The actual timeline (the vertical ruler) */
.how-timeline {
    position: relative;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 80px;
    height: 1280px;
}

/* The actual timeline (the vertical ruler) */
.how-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 32px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.how-timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.one::after {
    content: '1';
}

.two::after {
    content: '2';
}

.three::after {
    content: '3';
}

/* The circles on the timeline */
.how-timeline-container::after {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    padding: 5px 10px;
    font-size: 24px;
    line-height: 1;
    color: #58585a;
    font-family: futurarounddemi;
    background-color: white;
    border: 4px solid #B3D234;
    top: 12px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -20px;
}

/* The actual content */
.how-timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 16px;
}

.how-timeline-content p {
    color: #000;
}

.how-timeline-image-container {
    width: 200px;
    height: 200px;
    margin: auto;
}

.how-timeline-image {
    width: 100%;
    height: auto;
}

.how-title p {
    text-align: center;
    padding: 40px 0;
}

.height-half {
    height: 50% !important;
}

.bottom-half {
    bottom: 50% !important;
}

.padding-right {
    padding-right: 74px;
}

.padding-left {
    padding-left: 74px;
}

.how-table {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: auto;
    margin-bottom: 100px;
}

.how-table img {
    width: 50%;
}

.how-table-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.how-table-item p {
    text-align: center;
}

.wrapper-line {
    height: 100%;
    display: flex;
    width: 2px;
    background: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper-circle {
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-weight: 600;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.how-flex-item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-table-title {
    margin-top: 20px;
}

.how-table-text {
    max-width: 360px;
    margin-top: 18px;
}

/* options */

.options-container {
    height: 100%;
    background-color: #f0f0f0;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.options-content {
    padding: 40px 0;
    margin: 0 40px;
    max-width: 640px;
}

.options-content p {
    text-align: center;
    margin: auto;
    color: #000;
}

.options-title {
    line-height: 1;
}

.options-text {
    padding-top: 18px;
    line-height: 1.4;
}

.options-price-text {
    color: #000000;
    font-family: futurarounddemi;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    line-height: 1.3;
}

.price {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options-substrate {
    margin-bottom: 30px;
    width: 90%;
    max-width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.10);
}

.options-cost {
    font-family: futuraroundbold;
    line-height: 1;
}

.options-cost sub {
    bottom: 0.2em;
    left: -0.3em;
    font-size: 60%;
}

.new-price {
    color: #B3D234;
    font-size: 52px;
    margin-bottom: 24px;
}

.old-price {
    position: relative;
    color: #888888;
    font-size: 36px;
    margin-bottom: 12px;
}

.old-price svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.old-price svg line {
    stroke: #888888;
    stroke-width: 3;
}

.options-button {
    cursor: pointer;
    margin-top: 30px;
    width: 121px;
    height: 45px;
    color: #ffffff;
    background-color: #B3D234;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;

}

.options-button:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.options-button p {
    color: #fff;
    font-family: futuraroundbold;
    text-align: center;
    line-height: 3;
    font-size: 15px;
    font-weight: 700;
}

/* options-form */

#overlay {
    display: none;
}

#where {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: auto;
}

.burger-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 2;
}

.form-container {
    max-width: 628px;
    margin: 10% auto 10% auto;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 15px;
}

.form-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.close-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    opacity: .5;
}

.close-button:hover {
    opacity: .8;
}

.form-content {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

input[type=text] {
    margin-top: 18px;
}

input[type=text]:first-child {
    margin-top: 0;
}

.int {
    display: none;
    width: 75%;
}

.int label {
    font-family: futuraround;
    font-size: 14px;
    margin: 0;
}

.form-container p {
    color: #000;
    line-height: 1.2;
    text-align: center;
}

.check-box-container {
    height: auto;
    margin-bottom: 15px;
    width: 75%;
    font-family: futuraround;
    font-size: 16px;
}

#defaultCheck1 {
    height: 13px;
    width: 13px;
    margin-right: 5px;
    margin-top: 5px;
}

#defaultCheck1:focus {
    box-shadow: none;
    outline: none;
}

input {
    width: 75%;
    height: 60px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.error-input {
    box-shadow: 0 0 2px 1px red;
}

.okay {
    box-shadow: 0 0 2px 1px green;
}

input:focus {
    box-shadow: 0 0 2px 1px skyblue;
    outline: none;
}

#phone + .int {
    margin: 0;
}

input[type=submit] {
    cursor: pointer;
}

.form-button {
    color: #fff;
    background-color: #B3D234;
    transition: all 0.3s ease-in-out;
    font-size: 24px;
}

.form-button + .int {
    margin-bottom: 40px;
}

#form .disabled {
    background-color: rgba(179, 210, 52, 0.50);
    cursor: default;
}

#form input {
    font-family: futuraround;
}

#form input[type=submit] {
    font-family: futurarounddemi;
}

.notification {
    font-family: futuraround;
    font-size: 12px;
    text-align: left;
    width: 75%;
    padding: 6px 0;
    color: #afafaf;
}

#fh2 {
    display: none;
}

.fh2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#wicf {
    display: none;
}

.wicf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px 40px;
}

.wicf .wicfh {
    text-align: left;
    line-height: 1.4;
    font-family: futurarounddemi;
    font-size: 20px;
    margin: 0 0 6px;
}

.wicf .wicft {
    text-align: left;
    line-height: 1.2;
    font-family: futuraround;
    font-size: 16px;
    margin: 0 0 12px;
}

.wicft td {
    padding-right: 8px;
}

.wicf .title-sm {
    margin: 0;
}

.wicf .wicfn {
    color: #B3D234;
    text-align: center;
    width: 100%;
    font-family: futurarounddemi;
    font-size: 20px;
}

.contacts-map {
    margin-bottom: 40px;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
}

#accordiontop {
    width: 100%;
}

#accordiontop .card {
    margin: 8px 0;
    border-radius: 15px;
    overflow: hidden;
}

#accordionbottom {
    width: 100%;
}

#accordionbottom .card {
    margin: 8px 0;
    border-radius: 15px;
    overflow: hidden;
}

/* partners */

.partners-container {
    height: 100%;
    background-color: #fff;
    padding: 30px 0;
}

.partners-container p {
    text-align: center;
    margin: auto;
    color: #000;
}

.partners-container .title-md {
    width: 80%;
    max-width: 640px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.partners-text {
    padding: 24px 0;
    max-width: 575px;
}

.partners-list-container {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.results-wrapper {
    width: 100%;
    padding: 0 50px;
}

.results-container {
    width: 100%;
    max-width: 960px;
    height: 525px;
    background: #e8e8e8;
    border: 1px solid #888888;
    border-radius: 15px;
    padding: 5px;
    margin: 20px auto 0;
}

.results-container input {
    width: 100%;
    height: 36px;
    font-family: futurarounddemi;
    font-size: 18px;
    text-align: center;
}

.results-sort {
    font-family: futurarounddemi;
    font-size: 16px;
    padding: 4px 0;
}

.results-sort a {
    padding: 0 8px;
}

.results-sort a:hover {
    text-decoration: underline;
}

.slider-wrapper {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    width: 200%;
    position: relative;
    top: 0;
    left: 0;
}

.first-slide-container {
    width: 50%;
    float: left;
}

.first-slide-container .text-md {
    max-width: 640px;
    width: 80%;
}

.partners-row {
    width: 88%;
    float: left;
    margin: 0 6%;
}

.partner-icon-wrapper {
    float: left;
    width: 25%;
    height: 200px;
    margin-top: 30px;
}

.partner-icon {
    position: relative;
    height: 100%;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.partner-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-discount {
    background: rgba(179, 210, 52, 0.75);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.partner-icon:hover .hover-discount {
    height: 100%;
}

.hover-discount-text {
    color: white;
    font-family: futuraroundbold;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
}

.strip-discount-text {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    height: 80px;
    width: 0;
    border: 20px solid #B3D234;
    border-bottom-color: transparent;
}

.strip-discount-text p {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -20px 0 0 -20px;
    line-height: 1.2;
    color: #fff;
    font-size: 18px;
    font-family: futuraroundbold;
}

.slide-forward-container {
    height: 25px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    float: left;
    position: relative;
}

.slide-forward-container i {
    font-size: 32px;
    position: absolute;
    top: -3px;
}

.second-slide-container {
    width: 50%;
    float: left;
}

.slide-back-container {
    height: 25px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    position: relative;
}

.slide-back-container i {
    font-size: 32px;
    position: absolute;
    top: -3px;
    margin-left: -32px;
}

.slide-back-container a, .slide-forward-container a {
    font-family: futurarounddemi;
    font-size: 22px;
    line-height: 24px;
}

.categories-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.category-card {
    height: 150px;
    width: 16.666666%;
    padding: 15px;
    border-left: 1px solid #e8e8e8;
    cursor: pointer;
}

#cat-1 {
    background: url("../img/categories/cat1.jpg") no-repeat center;
    background-size: cover;
}

#cat-2 {
    background: url("../img/categories/cat2.jpg") no-repeat center;
    background-size: cover;
}

#cat-3 {
    background: url("../img/categories/cat3.jpg") no-repeat center;
    background-size: cover;
}

#cat-4 {
    background: url("../img/categories/cat4.jpg") no-repeat center;
    background-size: cover;
}

#cat-5 {
    background: url("../img/categories/cat5.jpg") no-repeat center;
    background-size: cover;
}

#cat-6 {
    background: url("../img/categories/cat6.png") no-repeat center;
    background-size: cover;
}

.category-icon {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.category-icon img {
    width: 100%;
    height: auto;
}

.category-name {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.category-name p {
    font-family: futurarounddemi;
    font-size: 18px;
    line-height: 20px;
    color: #58585A;
}

.restore-category {
    display: none;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #B3D234;
    color: white;
    font-family: futurarounddemi;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
}

.grid-list {
    width: 100%;
    height: 480px;
    overflow: auto;
    background: #f1f1f1;
}

.grid-row {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.card-wrapper {
    float: left;
    width: 25%;
    padding: 24px 24px 0;
}

.partner-card {
    width: 100%;
    padding: 24px;
    border-radius: 15px;
    transition: 0.3s;
    background: #fff;
    cursor: pointer;
}

.partner-card:hover {
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.2);
}

.partner-card-left {
    max-width: 125px;
    width: 50%;
    height: 100%;
    float: left;
}

.left-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.partner-title-container {
    height: 50px;
    width: 100%;
    font-family: futurarounddemi;
    font-size: 16px;
    line-height: 1.4;
}

.discount-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B3D234;
    border-radius: 15px;
}

.discount-container span {
    font-family: futurarounddemi;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}

.partner-card-right {
    float: left;
    height: 100%;
    width: 50%;
    max-width: 200px;
}

.modal-dialog .modal-content {
    border-radius: 15px;
}

button.close {
    font-size: 50px;
}

.my-modal-header {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-header-right-container .modal-header-website {
    display: none;
}

#partnerModal .close-button {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    opacity: .5;
}

.modal-header-top-container {
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-header-left-container {
    float: left;
    width: 150px;
}

.modal-header-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.modal-header-image-container img {
    width: 100%;
    height: auto;
}

.modal-header-website {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 4px 0 0;
    font-family: futuraround;
    word-break: break-all;
}

.modal-header-discounts {
    text-align: left;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
    font-family: futuraround;
    font-size: 18px;
    background-color: #B3D234;
}

.modal-header-discounts p {
    text-align: center;
    color: #FFFFFF;
}

.modal-header-right-container {
    float: left;
    margin-left: 12px;
}

.modal-header-title {
    padding-right: 42px;
}

.modal-header-title h3 {
    line-height: 1;
    font-family: futurarounddemi;
    font-size: 24px;
    margin-bottom: 4px;
}

.modal-header-category {
    padding: 0 42px 0 18px;
}

.modal-header-category p {
    font-size: 14px;
    color: #bcbcbc;
    text-align: left;
    margin-bottom: 4px;
    font-family: futuraround;
    letter-spacing: 0.2px;
}

.modal-header-description {
    color: #808080;
    font-family: futuraround;
    line-height: 1.2;
    font-size: 16px;
}

.modal-header-bottom-container {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.modal-content .modal-body {
    font-family: futuraround;
}

.branch-card {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    float: left;
    padding: 0 12px;
}

.branch-card:last-child {
    border-bottom: none;
}

.branch-card-image-container {
    width: 100%;
    margin: 12px auto;
    display: flex;
    align-items: center;
}

.branch-card-image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.branch-card-text-container {
    padding: 0 4px;
}

.branch-card-title h4 {
    line-height: 1;
    font-size: 20px;
    text-align: center;
    margin: 6px;
    font-family: futurarounddemi;
}

.branch-card-address {
    text-align: center;
    margin: 0 0 6px;
    font-size: 18px;
}

.som-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 12px;
}

.som-button-container button {
    width: 100%;
    border: 1px solid #B3D234;
    color: #B3D234;
    background-color: transparent;
    border-radius: 15px;
    font-family: futurarounddemi;
    font-size: 18px;
    padding: 4px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.som-button-container button:focus {
    outline: none;
}

.branch-card-bottom-container {
    width: 100%;
}

.branch-card-bottom-container .card {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    background-clip: unset;
}

.branch-card-working-time-header {
    padding: 4px;
    text-align: center;
    font-family: futurarounddemi;
    font-size: 18px;
    position: relative;
}

.branch-card-bottom-container i {
    font-size: 24px;
    position: absolute;
    top: 20%;
}

.wta {
    display: none;
    padding-bottom: 6px;
    justify-content: center;
}

.branch-card-phone-numbers-header {
    padding: 4px;
    text-align: center;
    font-family: futurarounddemi;
    font-size: 18px;
    position: relative;
}

.branch-card-phone-numbers-header i {
    font-size: 24px;
    position: absolute;
    top: 20%;
}

.pna {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6px;
}

.branch-card-phone-numbers img {
    width: 16px;
    height: auto;
}

/* contacts */

.contacts-accordion {
    display: none;
    width: 100%;
    padding: 12px 0;
    background-color: #ffffff;
}

.contacts-accordion-container {
    width: 240px;
    margin: 0 auto;
}

.contacts-accordion h4 {
    color: #000000;
    font-family: futurarounddemi;
    font-size: 24px;
    line-height: 1;
    width: 300px;
    margin: 0 auto;
}

.contacts-accordion p {
    font-family: futurarounddemi;
    color: #000000;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    width: 300px;
    margin: 6px auto 12px;
}

#fctc {
    height: 18px;
    width: auto;
    margin: 2px;
}

.contacts-accordion table {
    font-family: futurarounddemi;
    color: #000000;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin: 6px auto 12px;
}

.contacts-accordion td {
    padding-right: 8px;
}

.contacts-accordion button {
    border: 1px solid #B3D234;
    color: #B3D234;
    background-color: transparent;
    border-radius: 15px;
    font-family: futurarounddemi;
    font-size: 18px;
    padding: 4px 12px;
    margin-bottom: 12px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.contacts-accordion button:focus {
    outline: none;
}

#cam {
    display: none;
    margin: 12px auto;
    width: 90%;
    height: 420px;
    max-width: 640px;
    border-radius: 15px;
    overflow: hidden;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contacts {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-info {
    padding: 80px 20%;
    width: 100%;
    background-image: radial-gradient(#58585a 60%, transparent 70%);
    background-image: -webkit-radial-gradient(#58585a 60%, transparent 70%);
    background-image: -moz-radial-gradient(#58585a 60%, transparent 70%);
    background-image: -ms-radial-gradient(#58585a 60%, transparent 70%);
}

.contacts-title {
    font-size: 36px;
    line-height: 1;
    padding-bottom: 45px;
    font-weight: 600;
}

.contacts-address {
    padding-top: 32px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
    padding-bottom: 30px;
}

.contacts-social {
    padding-top: 25px;
}

.contacts-social a {
    padding-right: 2px;
}

/* news */

#newsCarousel {
    height: 100%;
}

.news-container {
    height: 100%;
}

.news-container img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

/* slider */
.scroll-bar {
    display: none;
    z-index: 3;
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.scroll-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

.scroll-bar ul li {
    padding: 12px 0;
}

#navigation a {
    position: relative;
    display: table;
    color: #fff;
    text-decoration: none;

}

.myPopover {
    position: absolute;
    top: 50%;
    right: 40px;
    background: #292929;
    border-radius: 3px;
    font-family: futurarounddemi;
    font-size: 18px;
    transform: translateX(-20%) translateY(-50%);
    margin-bottom: 10px;
    padding: 8px 18px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s ease-in-out opacity, .3s ease transform, .3s ease visibility;
    transition: .3s ease-in-out opacity, .3s ease transform, .3s ease visibility;
}

.myPopover:after {
    content: '';
    position: absolute;
    top: 20%;
    right: -20px;
    border: 10px solid transparent;
    border-left: 10px solid #292929;
}

ul a:hover .myPopover {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%) translateY(-50%)
}

.scroll-bar-active {
    background: #dbdbdb !important;
}

.circle {
    display: block;
    border: 2px solid #dbdbdb;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: .3s ease-in-out all;
}

/* Burger */

.burger {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    padding: 10px 12px;
    background: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    transition: 0.4s;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    background: transparent;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.burger-content {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #B3D234;
    z-index: 2;
}

.burger-content {
    align-items: center;
    justify-content: center;
}

.burger-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

.burger-content ul li {
    padding-bottom: 10px;
}

.burger-content a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: futurarounddemi;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;

}

.burger-content a:hover {
    color: #58585A;
    text-decoration: none;
}

footer {
    background-color: #000000;
    width: 100%;
    float: left;
}

.footer-column-container {
    padding: 24px 0 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-column {
    width: 100%;
    text-align: center;
}

.footer-column > p {
    margin: 12px 0;
}

.footer-column a {
    font-family: futurarounddemi;
    font-size: 18px;
    line-height: 1.4;
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: none;
    color: #58585A;
}

.social-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 6px 0 12px;
}

.social-container a {
    color: white;
}

.social-container a img {
    width: 48px;
    height: 48px;
}

.footer-bottom-container {
    width: 60%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom-container p {
    margin-bottom: 2px;
    font-family: futuraround;
    text-align: center;
    font-size: 16px;
}

.footer-image-container {
    height: 24px;
    width: 68px;
    margin-bottom: 4px;
}

.footer-image-container img {
    width: 100%;
    height: auto;
}